/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.status {
    color: #4286f4;
    align-content: center;
    text-align: center;
    padding-bottom: 10px;
     padding-top:10px; 
}

.registration{
  color: #4286f4;
  padding-top: 50px; 
  padding-bottom: 250px;
  font-size: 150%;
  align-content: center;
  text-align: center;

}

.navg{
  text-align: right;
}

.chat {
  padding-top:10px; 
  padding-bottom: 30px;
   font-size: 150%;
   align-content: center;
}

.online{
   color:#4286f4;
}



