
	<div class="row status" id="status">
	  	<div class="col-md-12">	
	  		 <h3> {{status}} </h3> <br>
		 	 <input  class="btn btn-warning btn-md" type="button" value="connect" ng-click="reloadRoute();" ng-show="showConnect">				  		
	  	</div>			   
    </div>

    <div class="row registration" id="register" ng-show="showRegister">
	  	<div class="col-md-12">	
	  	    <form>
	  	    	<div class="form-group">
	  	    		 <label for="name">Nick name:</label>
	  	    		 <input  type="text" id="name" placeholder="nickname" ng-model="nickName"> 
	  	    		 <input class="btn btn-primary btn-md" type="button" value="Join Chat" ng-click="RegisterNick();">
	  	    	</div>  	 	    	 
	  	    </form>			  		
	  	</div>			   
	</div>
	
	<div class="container-fluid chat" ng-show="showChatAndUser"> 
		<div class="navg">
			<input class="btn btn-primary btn-md" type="button" value="Chat" ng-click="changeView('chat');">
		    <input class="btn btn-primary btn-md" type="button" value="Users" ng-click="changeView('users');">
		    <hr>
		</div>	

	    <div class="container-fluid" id="chat" ng-show="showChat">
		  	<div class="row " id="messageForm">
			  	<div class="col-md-12">	
			  		<form >
		  	    		<div class="form-group">
		  	    			<textarea  rows="2"  cols="150" id="message" placeholder="enter message" ng-model="message"></textarea>		    				  	
		  	    		</div>
		  	    		<input class="btn btn-default btn-md" type="button" value="send" ng-click="sendMessage();">	  	 	    	 
		  	        </form>		  			
			  	</div>			   
		 	</div>
	 		<div class="row pre-scrollable" id="chatList">
			  	<div class="col-md-12">	
			  		<div class="card">
		 			  <div class="card-block">
					    <h4 class="card-title">Chat board</h4>
					  </div>
					  <ul class="list-group list-group-flush">
					  	<li class="list-group-item" ng-repeat="chat in chatHistory | orderBy:'-'"> <span style="color:blue">{{ chat.from }}</span> : {{chat.msg}} </li>
					  </ul>	
					</div>					  		
			  	</div>			   
		 	</div>     
	    </div>				
		
	  	<div class="row pre-scrollable" id="users" ng-show="showUsers">
	 		<div class="col-md-10">
	 			<div class="card">
	 			  <div class="card-block">
				    <h4 class="card-title">Users</h4>
				    <p class="card-text">Online users are shown in green</p>
				  </div>
				  <ul class="list-group list-group-flush" >
					<li class="list-group-item" ng-repeat="user in users | orderBy:'-'" ng-class="{online:user.online}"> {{ user.nick }} </li>				
				  </ul>			  		 
				</div> 	
			</div> 		
		</div>
	</div>


	<!-- <div id="status" >     
       			 <h1> {{status}} </h1> 
        		 <input  class="btn btn-primary" type="button" value="connect" ng-click="reloadRoute();" ng-show="showConnect">		
    		</div>

		    <div id="register" ng-show="showRegister">
			    Enter nick name? 
			    <input type="text" id="name" placeholder="nickname" ng-model="nickName">
			    <input type="button" value="Join Chat" ng-click="RegisterNick();">
		    </div>

		    <div id="chat" ng-show="showChat">
			    <div id="messageForm">
				    <input type="text" id="message" placeholder="enter message" ng-model="message">
				    <input type="button" value="send" ng-click="sendMessage();">
			    </div>

			    <div id="chatList">
			      	<ul>
						<li ng-repeat="chat in chatHistory"> {{ chat.from }} : {{chat.msg}} </li>
					</ul>			
			     </div>
		     
		    </div>
		    -->




 	
